{% extends 'Front.html.twig' %}
{%  block script %}


        <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color:rgb(125,126,125);
            color: white;
        }

        #myInput {
            background-image: url("//web//images//search.png");
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
    </style>







    <link rel="stylesheet" type="text/css" href="{{ asset('DataTables/datatables.css')}}">


    <script type="text/javascript" charset="utf8" src="{{ asset('DataTables/datatables.js')}}"></script>




    <script src="{{ asset('datatable.js')}}" type="text/javascript"></script>
    <script src="{{ asset('datatables.min.js')}}" type="text/javascript"></script>
    <script src="{{ asset('datatables.bootstrap.js')}}" type="text/javascript"></script>

    <link href="{{ asset('datatables.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('datatables.bootstrap.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block container %}

    <ol class="breadcrumb">
        <li><a href="{{ path('local_homepage') }}">Accueil</a></li>
        <li class="active" >Mes produits</li>

    </ol>
    <h2> Tous mes Produits</h2>


    <div class="btn-group pull-right">
        <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
            <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu pull-right">

            <li>
                <a href="{{ path('pdfProduit') }}"> Sauvgarder comme PDF </a>
            </li>

        </ul>
    </div>



    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherche Produits ..." title="Type in a name">




    <table  id="myTable" class="table table-hover" align="center">
        <tr>
            {#<th>Reference</th>#}
            <th>NomProduit</th>
            <th>Prix</th>

            <th>Image</th>
            <th>Quantité</th>
            <th>Description</th>
            <th>Vendeur</th>
            <th>Type</th>
<th>Action</th>


        </tr>
        {% for produit in produits %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                {#<td>{{ produit.ref }}</td>#}
                <td>{{ produit.nomp }}</td>
                <td>{{ produit.prix }}</td>
                <td> <img src="{{ asset('uploads/images/' ~ produit.img) }}" style="width:270px;height:220px;"></td>
                <td>{{ produit.quantit}}</td>
                <td>{{ produit.descrip }}</td>
                <td>{{ produit.prop }}</td>
                <td>{{ produit.type }}</td>
                <td><div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('sup_produit',{'ref':produit.ref}) }}">Supprimer</a></li>

                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('modifier_produit',{'ref':produit.ref}) }}">Modifier</a></li>
                        </ul>
                    </div></td>


            </tr>





        {% endfor %}


    </table>


    <div class="navigation" align="center">
        {{ knp_pagination_render(produits) }}
    </div>




    <script>
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>











{% endblock %}
